html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My code*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

h1, h2 {
    transition: color 0.5s;
}

body.dark-mode h1, body.dark-mode h2 {
    color: yellow;
}

nav {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.mode {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    margin: 0 5px;
}

.country-name {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
}

.mode-controls {
    display: flex;
    align-items: center;
}

.mode-text {
    text-align: center;
    margin: 0;
    padding: 5px;
}

/*.background_box {
    width: 200px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    transition-delay: 0.4s;
}*/

.toggle_box {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #cbcbcb;
    border-radius: 1000px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

input[type="checkbox"] {
    display: none;
}

/*.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 1000px;
    top: 5px;
    left: 5px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

body.dark-mode .toggle_box {
    background-color: #cbcbcb;
    transition: 0.5s;
    transition-delay: 0.4s;
}

.toggle_box img {
    width: 40px;
    height: 40px;
    transition:  0.5s;
    position: absolute;
}


.sun {
    display: block;
    background-color: #ffd001;
    border-radius: 50%;
}

.moon {
    display: none;
    background-color: #0853b6;
    border-radius: 50%;
}

body.dark-mode .toggle_box .sun {
    display: none;
    transform: translateX(50px);
}

body.dark-mode .toggle_box .moon {
    display: block;
    transform: translateX(50px);
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100%;
    margin: 15px;
}

h1 {
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 40px;
}

.latin-text {
    display: flex;
    margin: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    transition: color 0.5s;
}

body.dark-mode .latin-text {
    color: #fff;
}
